<div>
  <form [formGroup]="categoryForm" (ngSubmit)="CreateCategory()" class="flex flex-col gap-4">
    <div class="mb-2">
      <label class="block text-sm font-medium text-gray-700 mb-1">Nombre categoria</label>
      <input
        id="name"
        formControlName="name"
        pInputText
        type="text"
        placeholder="Nombre de la categoria"
        class="w-full"
      />
      @if (name?.invalid && name?.touched) {
        <div class="text-sm text-red-500 mt-1">
          @if (name?.errors?.['required']) {
            <span>El nombre es obligatorio.</span>
          } @else if (name?.errors?.['maxlength']) {
            <span>El nombre no puede superar los 100 caracteres</span>
          }
        </div>
      }
    </div>
    <div class="mb-2">
      <label class="block text-sm font-medium text-gray-700 mb-1">Descripcion categoria</label>
      <input
        id="description"
        formControlName="description"
        pInputText
        type="text"
        placeholder="Descripcion de la categoria"
        class="w-full"
      />
      @if (description?.invalid && description?.touched) {
        <div class="text-sm text-red-500 mt-1">
          @if (description?.errors?.['required']) {
            <span>La descripcion es obligatoria.</span>
          } @else if (description?.errors?.['maxlength']) {
            <span>La descripcion no puede superar los 500 caracteres</span>
          }
        </div>
      }
    </div>
    <div class="flex justify-center items-center md:justify-end gap-4">
      @if (showCancel()) {
        <p-button
          label="Cancelar"
          icon="pi pi-times"
          iconPos="right"
          class="w-full md:w-1/2"
          fluid
          severity="danger"
          (click)="onCancel()"
        >
        </p-button>
      }
      <p-button
        type="submit"
        [label]="isEditMode() ? 'Actualizar categoria' : 'Crear categoria'"
        [icon]="isEditMode() ? 'pi pi-save' : 'pi pi-plus'"
        iconPos="right"
        [loading]="loading()"
        [disabled]="categoryForm.invalid"
        class="w-full md:w-1/2"
        fluid
      >
      </p-button>
    </div>
  </form>
</div>
